trunk/osgi/src/main/resources/apacheds.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
  
  http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' elementFormDefault='qualified'
           targetNamespace='http://apacheds.org/config/core'
           xmlns:directory='http://apacheds.org/config/core'
        xmlns:spring='http://www.springframework.org/schema/beans'>
<!--
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:s="http://www.springframework.org/schema/beans"
-->

  <xs:import namespace="http://www.springframework.org/schema/beans" />
  <!--<xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="s.xsd"/>-->
  <xs:element name="defaultDirectoryService">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="directory:systemPartition"/>
        <xs:element ref="directory:partitions"/>
        <xs:element ref="directory:interceptors"/>
      </xs:sequence>
      <xs:attribute name="accessControlEnabled" use="required" type="xs:boolean"/>
      <xs:attribute name="allowAnonymousAccess" use="required" type="xs:boolean"/>
      <xs:attribute name="denormalizeOpAttrsEnabled" use="required" type="xs:boolean"/>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="instanceId" use="required" type="xs:NCName"/>
      <xs:attribute name="maxPDUSize" use="required" type="xs:integer"/>
      <xs:attribute name="replicaId" use="required" type="xs:integer"/>
      <xs:attribute name="workingDirectory" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="systemPartition" type="directory:directory.jdbmPartition"/>
  <xs:element name="partitions" type="directory:directory.jdbmPartition"/>
  <xs:element name="interceptors">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="directory:normalizationInterceptor"/>
        <xs:element ref="directory:authenticationInterceptor"/>
        <xs:element ref="directory:referralInterceptor"/>
        <xs:element ref="directory:aciAuthorizationInterceptor"/>
        <xs:element ref="directory:defaultAuthorizationInterceptor"/>
        <xs:element ref="directory:exceptionInterceptor"/>
        <xs:element ref="directory:operationalAttributeInterceptor"/>
        <xs:element ref="directory:schemaInterceptor"/>
        <xs:element ref="directory:subentryInterceptor"/>
        <xs:element ref="directory:collectiveAttributeInterceptor"/>
        <xs:element ref="directory:eventInterceptor"/>
        <xs:element ref="directory:triggerInterceptor"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="normalizationInterceptor">
    <xs:complexType/>
  </xs:element>
  <xs:element name="authenticationInterceptor">
    <xs:complexType/>
  </xs:element>
  <xs:element name="referralInterceptor">
    <xs:complexType/>
  </xs:element>
  <xs:element name="aciAuthorizationInterceptor">
    <xs:complexType/>
  </xs:element>
  <xs:element name="defaultAuthorizationInterceptor">
    <xs:complexType/>
  </xs:element>
  <xs:element name="exceptionInterceptor">
    <xs:complexType/>
  </xs:element>
  <xs:element name="operationalAttributeInterceptor">
    <xs:complexType/>
  </xs:element>
  <xs:element name="schemaInterceptor">
    <xs:complexType/>
  </xs:element>
  <xs:element name="subentryInterceptor">
    <xs:complexType/>
  </xs:element>
  <xs:element name="collectiveAttributeInterceptor">
    <xs:complexType/>
  </xs:element>
  <xs:element name="eventInterceptor">
    <xs:complexType/>
  </xs:element>
  <xs:element name="triggerInterceptor">
    <xs:complexType/>
  </xs:element>
  <xs:element name="ntpServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="directory:tcpTransport"/>
        <xs:element ref="directory:udpTransport"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="apacheDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="directory:directoryService"/>
        <xs:element ref="directory:ldapService"/>
        <xs:element ref="directory:ldapsService"/>
      </xs:sequence>
      <xs:attribute name="allowAnonymousAccess" use="required" type="xs:boolean"/>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="synchPeriodMillis" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ldapsService" type="xs:string"/>
  <xs:complexType name="directory.jdbmPartition">
    <xs:sequence>
      <xs:element ref="directory:jdbmPartition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="jdbmPartition">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="directory:indexedAttributes"/>
      </xs:sequence>
      <xs:attribute name="cacheSize" use="required" type="xs:integer"/>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="optimizerEnabled" use="required" type="xs:boolean"/>
      <xs:attribute name="suffix" use="required"/>
      <xs:attribute name="syncOnWrite" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="indexedAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="directory:jdbmIndex"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jdbmIndex">
    <xs:complexType>
      <xs:attribute name="attributeId" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="cacheSize" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tcpTransport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="directory:tcpTransport"/>
      </xs:sequence>
      <xs:attribute name="backLog" type="xs:integer"/>
      <xs:attribute name="nbThreads" type="xs:integer"/>
      <xs:attribute name="port" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="udpTransport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="directory:udpTransport"/>
      </xs:sequence>
      <xs:attribute name="nbThreads" type="xs:integer"/>
      <xs:attribute name="port" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ldapService">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="directory:directoryService"/>
        <xs:element ref="directory:tcpTransport"/>
        <xs:element ref="directory:extendedOperationHandlers"/>
        <xs:element ref="directory:saslMechanismHandlers"/>
        <xs:element ref="directory:saslQop"/>
        <xs:element ref="directory:saslRealms"/>
      </xs:choice>
      <xs:attribute name="allowAnonymousAccess" type="xs:boolean"/>
      <xs:attribute name="enableLdaps" type="xs:boolean"/>
      <xs:attribute name="enabled" type="xs:boolean"/>
      <xs:attribute name="id" type="xs:NCName"/>
      <xs:attribute name="maxSizeLimit" type="xs:integer"/>
      <xs:attribute name="maxTimeLimit" type="xs:integer"/>
      <xs:attribute name="saslHost" type="xs:NCName"/>
      <xs:attribute name="saslPrincipal"/>
      <xs:attribute name="searchBaseDn"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="extendedOperationHandlers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="directory:startTlsHandler"/>
        <xs:element ref="directory:gracefulShutdownHandler"/>
        <xs:element ref="directory:launchDiagnosticUiHandler"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startTlsHandler">
    <xs:complexType/>
  </xs:element>
  <xs:element name="gracefulShutdownHandler">
    <xs:complexType/>
  </xs:element>
  <xs:element name="launchDiagnosticUiHandler">
    <xs:complexType/>
  </xs:element>
  <xs:element name="saslMechanismHandlers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="directory:simpleMechanismHandler"/>
        <xs:element ref="directory:cramMd5MechanismHandler"/>
        <xs:element ref="directory:digestMd5MechanismHandler"/>
        <xs:element ref="directory:gssapiMechanismHandler"/>
        <xs:element maxOccurs="unbounded" ref="directory:ntlmMechanismHandler"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="simpleMechanismHandler">
    <xs:complexType>
      <xs:attribute name="mech-name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cramMd5MechanismHandler">
    <xs:complexType>
      <xs:attribute name="mech-name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="digestMd5MechanismHandler">
    <xs:complexType>
      <xs:attribute name="mech-name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="gssapiMechanismHandler">
    <xs:complexType>
      <xs:attribute name="mech-name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ntlmMechanismHandler">
    <xs:complexType>
      <xs:attribute name="mech-name" use="required" type="xs:NCName"/>
      <xs:attribute name="ntlmProviderFqcn" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="saslQop">
    <xs:complexType>
        <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:element ref="spring:value" /></xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saslRealms">
    <xs:complexType>
      <xs:sequence>
          <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:element ref="spring:value" /></xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="directoryService" type="xs:string"/>
</xs:schema>
